__pycache__/Execute.cpython-36.pyc
__pycache__/Minding.cpython-36.pyc
__pycache__/Shedule.cpython-36.pyc
__pycache__/Teacher_Id_View.cpython-36.pyc
__pycache__/Big_Ben_Higher.cpython-36.pyc
__pycache__/ErrorHandler.cpython-36.pyc
